body{
    padding: 0;
    margin: 0 ;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
/* 
body i{
    color: white;
} */

.container{
    z-index: 22;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    background-color: #40007c38;
    
}

.back-vid{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
    /* height: 600%; */
    mix-blend-mode: lighten;
}

header{
    display: flex;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    text-decoration: none;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background: rgba(255, 255, 255, 0.123);
    backdrop-filter: blur(10px);
    padding:0 30px; 
    box-shadow: 0 0 15px blueviolet ;
    z-index: 999;
}

.left{
    display: flex;
    align-items: center;

}

.left img{
    width: 40px;
    margin: 0 15px;
}

header ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    width: 30%;
    padding: 15px 15px;
    border-radius: 50px;
    background-color: gainsboro;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 15px blueviolet;
}


header ul li{
    text-decoration: none;
    color: brown;
    font-weight: 700;
    margin: 0 10px;
}

.box-icons{
    display: flex;
    gap: 40px;
    
}
.box-icons a{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    height: 30px;
    width: 30px;
    color: white;
}
.box-icons a i{
    background-color: black;
    border-radius: 50%;
    padding: 10px;
    border: 1px solid white;
}

.box-icons a:hover{
    text-decoration: none;
    background-color: blue;
    color: black;
    box-shadow: 0 0 15px blueviolet;

}




.blackhole-box{
    z-index: -1;
    position: absolute;
    top: 0;
    width: 100%;
    justify-content: center;
    mix-blend-mode: lighten;
    /* align-items: center; */
}

.blackhole-box video{
    width: 100%;
    margin-top: -23.5%;
}

.hero{
    /* margin-top: 400px; */
    /* top: 250px; */
    display: flex;
    position: relative;
    width: 100%;
    height: 80vh;
    justify-content: space-between;
    align-items: center;
    color: white;
    
}
.hero-info{
    position: absolute;
    top: 30%;
    left: 5%;
    /* width: 100%; */
}

/* .hero-info i{
    font-size: 30px;
} */

.hero-info .hero-info-title{
    color: white;
    padding: 8px 5px;
    border: 1px solid gainsboro;
    width: 350px;
    /* background-color: gray; */
    box-shadow: 0 0 5px gray;
    border-radius: 50px;
}
.hero-info h1{
    font-size: 60px;
    max-width: 600px;
    font-weight: 700;
    line-height: 70px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.hero-info p{
    max-width: 550px;
    line-height: 25px;
    margin-bottom: 40px;
    font-size: 20px;
}

.hero-info button{
    color: white;
    padding: 15px 35px;
    border-radius: 10px;
    border: 1px solid blueviolet;
    /* background-color: none; */
    cursor: pointer;
    background-color: rgb(111, 27, 190);
    box-shadow: 0 0 5px blueviolet;
    transition: 0.4s;
}
.hero-info button:hover{
    box-shadow: 0 0 15px gray;
}


.gradient{
  background: linear-gradient(to right, #7DE5ED, #c87ded, #dd2222, #50b457, #5093b4, #b45050, #7DE5ED);  
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent ;
    animation: animated-gradient 2.5s linear infinite;
}

@keyframes animated-gradient {
    to{
        background-position: 200%;
    }
}

.hero-vid-box{
    position: absolute;
    right: 3%;
    top: 1%;
}
.hero-vid-box video{
    height: 800px;
    mix-blend-mode: lighten;   
}

.scroll-down{
    height: 50px;
    width: 30px;
    border: 2px solid blueviolet;
    position: absolute;
    border-radius: 50px;
    left: 49%;
    bottom: 8%;
    box-shadow: 0 0 15px lightgray;
    cursor: pointer;
}

.scroll-down::before, .scroll-down::after{
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 10px;
    width: 10px;
    border: 2px solid lightgray;
    transform: translate(-50%, 80%) rotate(0deg);
    border-top:transparent ;
    border-bottom:transparent ;
    animation: scroll-down 2s ease-in-out infinite;
}
.scroll-down::before{
    top: 30%;
    animation-delay: 0.5s;
}

.info-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-top: 50px;
}

.sections-title {
    font-size: 40px;
    font-weight: 700;
}

.info-cards{
    display: grid;
    grid-template-columns: auto auto auto ;
    gap: 20px;
    width: 100%;
    height: 100%;
    margin-top: 30px;
}

.card{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: auto;
    height: 40vh;
    overflow: hidden;
    border: 1px solid gray;
    background-color: #080020b7;
    border-radius: 20px ;
    transition: 0.3s;

}

.card img{
    width: 80%;
    height: 50%;
    object-fit: cover;
}

.card h1{
    position: absolute;
    margin: 0;
    bottom: 40%;
    left: 5%;
    font-size: 25px;
    z-index: 1;
    color: lightgray;
}

.card p{
    position: absolute;
    bottom: 3%;
    left: 5%;
    z-index: 1;
    max-width: 300px;
    color: gray;
    font-size: 15px;
    line-height: 25px;
}

.card video{
    margin-top: 10%;
    width: 70%;
    height: 50%;
    object-fit: cover;
    mix-blend-mode: lighten;
}


.card button{
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
    border: 1px solid blueviolet;
    background-color: gainsboro;
    box-shadow: 0 0 5px gray;
    cursor: pointer;
    transition: 0.3s;
    position: absolute;
    bottom: 5%;
    left: 5%;
}

.card button:hover{
    box-shadow: 0 0 5px gray;
    opacity: 0.7;
}

.card:hover{
    box-shadow: 0 0 15px gainsboro;
}

.card:nth-child(3){
    grid-row: span 2;
    height: 83vh;
}
.card:nth-child(3) p{
    bottom: 12%;
}
.card:nth-child(3) h1{
    bottom: 21%;
}
.card:nth-child(4){
    grid-column: span 2;
} 
.card:nth-child(4) p {
    max-width: 850px;
}
.card:nth-child(4) h1{

}




@keyframes .scroll-down{
    0%{
        opacity: 0;
    }
    30%, 60%{
        opacity: 1;
    }
    100% {
        top: 90%;
        opacity: 0;
    }
}


@media (max-aspect-ratio: 16/9) {
    .back-vid{
        width: auto;
        height: 100%;

    }
}
@media (min-aspect-ratio: 16/9) {
    .back-vid{
        width: 100%;
        height: auto;
    }
}